html {
  --size: 40px;
  --t-1: 9.5px;
  --t-3: -9.5px;
  --c-box: 4;
  font-family: "Source Code Pro", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  padding: 0;
}

section,
div[class^="section"] {
  height: auto;
  min-height: 100vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  padding: 0;
  margin: 0;
}

.section1 {
  top: 0;
  background: #fff;
  color: #000;
}

.section2-before {
  min-height: 25vh !important;
  background: linear-gradient(354deg, #FEF8F7 50%, rgba(0, 0, 0, 0) 50%);
  z-index: 2;
}

.section2 {
  top: 0;
  background: #FEF8F7;
  z-index: 2;
}

.section3-before {
  min-height: 25vh !important;
  background: linear-gradient(6deg, #F6EEF4 50%, rgba(0, 0, 0, 0) 50%);
  z-index: 2;
}

.section3 {
  top: 0;
  background: #F6EEF4;
  z-index: 2;
}

.section5-before {
  min-height: 25vh !important;
  background: linear-gradient(6deg, #FFF2F0 50%, rgba(0, 0, 0, 0) 50%);
  z-index: 3;
}

.section5 {
  top: 0;
  background: #FFF2F0;
  z-index: 3;
}

.section4-before {
  min-height: 25vh !important;
  background: linear-gradient(354deg, #FEF2EF 50%, rgba(0, 0, 0, 0) 50%);
  z-index: 4;
}

.section4 {
  top: 0;
  background: #FEF2EF;
  z-index: 3;
}

a {
  color: white;
  text-decoration: none;
}

#menu {
  position: fixed;
  margin: auto;
  z-index: 99;
}

div.menu-right {
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.menu-right {
  text-align: right;
}

div.menu-right > ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 40%;
  text-align: center;
  font-weight: 700;
  overflow: hidden;
  color: white;
}

div.menu-right > ul > li {
  padding: 10px 16px;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  vertical-align: middle;
}

.menu-marker {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  padding: 8px !important;
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
}

.menu-marker > input[type="checkbox"] {
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transform: scale(var(--c-box));
          transform: scale(var(--c-box));
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.menu-marker ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  z-index: 1;
  vertical-align: middle;
  margin: 0px;
}

.menu-marker li {
  background: #000;
  border: #000 solid 1px;
  margin: calc(var(--size) / 5) 0;
  -webkit-transition: ease-in-out 0.5s all;
  transition: ease-in-out 0.5s all;
}

li.first-bar {
  width: 80%;
  height: var(--size)/20;
}

li.second-bar {
  width: 100%;
  height: var(--size)/20;
}

li.third-bar {
  width: 60%;
  height: var(--size)/20;
}

.menu-marker > input[type="checkbox"]:checked ~ ul li.first-bar,
.menu-marker > input[type="checkbox"]:checked ~ ul li.third-bar {
  width: 60%;
}

.menu-marker > input[type="checkbox"]:checked ~ ul li.second-bar {
  opacity: 0;
}

.menu-marker > input[type="checkbox"]:checked ~ ul li.first-bar {
  -webkit-transform: translateY(var(--t-1)) rotate(225deg);
          transform: translateY(var(--t-1)) rotate(225deg);
}

.menu-marker > input[type="checkbox"]:checked ~ ul li.third-bar {
  -webkit-transform: translateY(var(--t-3)) rotate(315deg);
          transform: translateY(var(--t-3)) rotate(315deg);
}

.menu-right > ul {
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.menu-right > ul {
  opacity: 0;
  -webkit-transition: ease-in-out 0.5s all;
  transition: ease-in-out 0.5s all;
}

.menu-right > ul li a {
  color: #000;
}

.menu-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
  opacity: 1 !important;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 15em;
  margin: 0 auto;
  border-right: 2px solid white;
  font-size: 250%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  -webkit-animation: typewriter 3s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(20) infinite normal;
          animation: typewriter 3s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(20) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 19.5em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 19.5em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0);
  }
  to {
    border-right-color: white;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0);
  }
  to {
    border-right-color: white;
  }
}

.home-banner-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.navbar-sec {
  position: absolute;
  left: 0px;
  top: 10px;
  z-index: 9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-logo {
  position: relative;
  font-weight: 900;
  font-size: 26px;
  z-index: 0;
  color: #000;
  width: 20%;
}

.left-logo span {
  font-size: 40px;
}

.left-logo::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  width: 40px;
  height: 40px;
  background-color: #f96155;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.right-menu {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner-img img {
  width: 350px;
  margin: 0 auto;
  display: block;
}

.bold {
  color: #00001a;
  font-weight: 600;
  text-decoration: none;
  white-space: normal;
}

.subhead {
  position: relative;
  z-index: 70;
  display: inline-block;
  /* font-family: 'Wotfard webfont',sans-serif; */
  color: #585b66;
  font-size: 3rem;
  /* line-height: 38px; */
  font-weight: 300;
  cursor: pointer;
  letter-spacing: 1px;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .subhead {
    font-size: 2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .mb-20 {
    margin-bottom: 50px;
  }
}

.subdis {
  color: #585b66;
  font-size: 2rem;
}

.services-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.services-inner {
  width: 80%;
  padding-left: 20%;
}

.heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: #00001a;
  font-size: 40px;
  line-height: 160%;
  font-weight: 600;
}

.services-feature {
  list-style: none;
}

.services-feature li {
  margin: 20px 0px;
  color: #00001a;
  font-size: 30px;
  line-height: 160%;
  font-weight: 500;
  text-transform: uppercase;
}

.wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.btn-get {
  margin-top: 20px;
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 15px;
  border: 2px solid #262626;
  padding: 10px 80px;
  position: relative;
  overflow: hidden;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
  display: inline-block;
}

.btn-get:hover {
  background-color: #262626;
  color: #fff;
  text-decoration: none;
}

.right-side-img {
  width: 50%;
}

.right-side-img img {
  width: 300px;
}

.project-list {
  list-style: none;
  margin: 50px 0px;
  padding: 0px;
}

.project-list li {
  border-top: 1px solid #ddd;
  padding: 30px 0px;
}

.project-list li .project-inner {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.project-list li .project-inner .left-side-con h1 {
  color: #00001a;
}

.project-list li .project-inner .left-side-con h1 span {
  font-size: 14px;
  font-weight: normal;
}

.project-list li .project-inner .left-side-con p {
  margin-top: 10px;
  width: 60%;
  color: #585b66;
}

.about-dis {
  margin-top: 20px;
}

.about-dis h2 {
  width: 730px;
  color: #00001a;
  font-size: 34px;
  line-height: 160%;
  font-weight: 400;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .about-dis h2 {
    width: 100%;
  }
}

.skills ul {
  width: 50%;
  -webkit-columns: 2;
          columns: 2;
  margin: 0px;
}

.skills ul li {
  font-size: 18px;
  font-weight: bold;
}

#cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f96155;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  z-index: 999;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top {
  width: 50%;
  margin: 0 auto 100px;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.footer-row .footer-left {
  width: 50%;
}

.footer-row .footer-left p {
  width: 80%;
  margin-top: 10px;
  font-size: 20px;
  color: #585b66;
}

.footer-row .footer-right {
  width: 50%;
}

.text-block-4 {
  margin-top: 32px;
  font-family: "hmm nah", Arial, sans-serif;
  color: #7e7e7e;
  font-size: 12px;
  letter-spacing: 2px;
}

.link {
  font-family: "hmm nah", Arial, sans-serif;
  color: #56e6a5;
  font-size: 32px;
  line-height: 50px;
  font-weight: 300;
  text-decoration: none;
}

.social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social-link {
  width: 28px;
  height: 28px;
  margin-right: 64px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */